<div class="w-full">
    <form #f="ngForm" (ngSubmit)="f.form.valid && saveDocument()" class="flex flex-col justify-center items-center gap-1 w-full">

        <label class="text-left w-full" for="customName">Custom Name</label>
        <input class="p-1 border rounded-md w-full mb-2" type="text" name="customName" id="customName" [(ngModel)]="customName" required>
        
        <label class="text-left w-full" for="documentFile">Document File</label>
        <input class=" border rounded-md mb-2" type="file" name="documentFile" id="documentFile" (change)="onFileChange($event)"> 

        <button *ngIf="id else addButton" class="p-1 rounded-md border border-blue-700 bg-blue-500 text-white font-semibold w-24" type="submit">Update</button>   
        <ng-template #addButton>            
            <button  class="p-1 rounded-md border border-blue-700 bg-blue-500 text-white font-semibold w-24" type="submit">Add</button>  
        </ng-template>
    </form>
</div>
